.box{
    width: 20px;
    height: 20px;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
}

#container{
    width: 320px;
    height: 320px;

    display: flex;
    flex-wrap: wrap;
    
    border-style: solid;
    border-color: black;

}

